.app-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
    border-bottom: 1px solid #FFFFFF;
}

.answer-container {
    display: flex;
    justify-content: center;
}

.form {
    width: 15%;
    padding: 1em;
    border: solid #FFFFFF 1px;
}

.welcome-container {
    width: 100%;
    color: white;
    background-color: #121212;
    padding: 1em;
    font-size: larger;
}

.submit-buttons {
    padding: 1em;
}

.result {
    font-size: 24px;
}

.drop-down {
    font-size: large;
}

.drop-down-container {
    padding-bottom: 1em;
}

@media only screen and (max-width:428px) {
    .form {
        width: 100%;
        border: none;
    }

    .drop-down {
        font-size: 24px;
    }

    .question {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        padding-bottom: 1em;
        padding-top: 1em;
        border-bottom: 1px solid #FFFFFF;
        font-size: 24px;
    }

    .question-container {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .answer-container {
        font-size: 26px;
    }

    button {
        width: 100px;
        height: 30px;
    }

    .submit-buttons {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        width: 100%;
    }
}